.header-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-title-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.header-title-box .header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header-title-box .header-title h1 {
  font-size: 45px;
}

.header-title-box .header-title .kasuka-name {
  color: #ffbb38;
  font-size: 50px;
  font-weight: 700;
}

.header-title-box .header-title .desc {
  font-size: 25px;
}

.header-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
