.services-container {
  max-width: 1200px;
  margin: 100px auto;
}

.services-container h3{
  color: #99999985;
  position: relative;
}

.services-container h3::before{
  content: "";
  width: 120px;
  height: 2px;
  background-color: gold;
  position: absolute;
  top: 10px;
  right: 65px;
}

.services-container h1{

}

.services-container .services-box-row {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 25px;
  margin: 25px 0;
}
