.member-container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 7px #eee;
  margin-top: 30px;
}

.member-container .img-box {
  position: relative;
}

.member-container .img-box img {
  width: 100%;
  height: 100%;
}

.member-container .img-box .social-icons {
  position: absolute;
  right: 18%;
  top: 70%;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: all .5s;
}

.member-container:hover .social-icons{
  opacity: 1;
  top: 78%;
}

.member-container .img-box .social-icons i {
  background-color: #eeeeeeca;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: all .4s;
  cursor: pointer;
}

.member-container .img-box .social-icons i:hover {
  background-color: #ffbb38;
}

.member-container h4 {
  padding: 15px 20px 0;
}

.member-container span {
  padding: 0 20px 15px;
  display: inline-block;
  font-size: 13px;
  color: #999;
  font-weight: 600;
}
